<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuan.wuan_news.wuan_news_server.mapper.MediaMapper">

    <resultMap id="MediaResultMap" type="com.wuan.wuan_news.wuan_news_server.model.Media">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="rss_link" property="rssLink" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <insert id="insert" parameterType="com.wuan.wuan_news.wuan_news_server.model.Media" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO media (name, rss_link)
        VALUES (#{name}, #{rssLink})
    </insert>

    <insert id="insertSelective" parameterType="com.wuan.wuan_news.wuan_news_server.model.Media" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `media`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">`name`,</if>
            <if test="rssLink != null">`rss_link`</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="rssLink != null">#{rssLink}</if>
        </trim>
    </insert>

    <select id="findByName" resultMap="MediaResultMap">
        SELECT * FROM media WHERE name = #{name}
    </select>

    <select id="getAllMedias" resultMap="MediaResultMap">
        SELECT * FROM media
    </select>

    <delete id="deleteByName">
        DELETE FROM media WHERE name = #{name}
    </delete>
</mapper>
