<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuan.wuan_news.wuan_news_server.mapper.NewsMapper">

    <resultMap id="NewsResultMap" type="com.wuan.wuan_news.wuan_news_server.model.News">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="preview_image" property="previewImage" />
        <result column="pub_date" property="pubDate" />
        <result column="link" property="link" />
        <result column="author" property="author" />
        <result column="media_name" property="mediaName" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <select id="getAllNews" resultMap="NewsResultMap">
        SELECT * FROM news
    </select>

    <select id="getNewsByMediaNameAndNewsTitle" resultMap="NewsResultMap">
        SELECT n.* FROM news n
        INNER JOIN media m
        ON n.media_name = m.name
        WHERE m.name = #{mediaName} AND n.title = #{newsTitle}
    </select>

    <insert id="insert" parameterType="com.wuan.wuan_news.wuan_news_server.model.News" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `news` (`title`, `description`, `preview_image`, `pub_date`, `link`, `author`, `media_name`)
        VALUES (#{title}, #{description}, #{previewImage}, #{pubDate}, #{link}, #{author}, #{mediaName})
    </insert>

    <insert id="insertSelective" parameterType="com.wuan.wuan_news.wuan_news_server.model.News" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `news`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">`title`,</if>
            <if test="description != null">`description`,</if>
            <if test="previewImage != null">`preview_image`,</if>
            <if test="pubDate != null">`pub_date`,</if>
            <if test="link != null">`link`,</if>
            <if test="author != null">`author`,</if>
            <if test="mediaName != null">`media_name`</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="previewImage != null">#{previewImage},</if>
            <if test="pubDate != null">#{pubDate},</if>
            <if test="link != null">#{link},</if>
            <if test="author != null">#{author},</if>
            <if test="mediaName != null">#{mediaName}</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.wuan.wuan_news.wuan_news_server.model.News">
        UPDATE `news`
        SET `title` = #{title},
        `description` = #{description},
        `preview_image` = #{previewImage},
        `pub_date` = #{pubDate},
        `link` = #{link},
        `author` = #{author},
        `media_name` = #{mediaName}
        WHERE `id` = #{id}
    </update>

    <update id="updateSelective" parameterType="com.wuan.wuan_news.wuan_news_server.model.News">
        UPDATE `news`
        <set>
            <if test="title != null">`title` = #{title},</if>
            <if test="description != null">`description` = #{description},</if>
            <if test="previewImage != null">`preview_image` = #{previewImage},</if>
            <if test="pubDate != null">`pub_date` = #{pubDate},</if>
            <if test="link != null">`link` = #{link},</if>
            <if test="author != null">`author` = #{author},</if>
            <if test="mediaName != null">`media_name` = #{mediaName}</if>
        </set>
        WHERE `id` = #{id}
    </update>

    <select id="getNewsByMediaName" resultMap="NewsResultMap">
        SELECT * FROM news
        INNER JOIN media
        ON news.media_name = media.name
        WHERE media.name = #{mediaName}
    </select>

    <select id="getNewsByTitleContaining" resultMap="NewsResultMap" parameterType="string">
        SELECT *
        FROM news
        WHERE title LIKE CONCAT('%', #{topicName}, '%')
    </select>
</mapper>
