<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wuan.wuan_news.wuan_news_server.mapper.TopicMapper">

    <!-- Result Map for Topic -->
    <resultMap id="TopicResultMap" type="com.wuan.wuan_news.wuan_news_server.model.Topic">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- Insert a Topic -->
    <insert id="createTopic" parameterType="com.wuan.wuan_news.wuan_news_server.model.Topic" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO topic (name)
        VALUES (#{name})
    </insert>

    <!-- Fetch a Topic by Name -->
    <select id="getTopicByName" resultMap="TopicResultMap">
        SELECT *
        FROM topic
        WHERE name = #{topicName}
    </select>

    <!-- Fetch All Topics -->
    <select id="getAllTopics" resultMap="TopicResultMap">
        SELECT *
        FROM topic
    </select>

    <select id="getTopicByTopicId" resultType="com.wuan.wuan_news.wuan_news_server.model.Topic">
        SELECT * FROM topic WHERE topic_id = #{topicId}
    </select>

</mapper>