<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuan.wuan_news.wuan_news_server.mapper.NewsTopicMapper">

    <resultMap id="BaseResultMap" type="com.wuan.wuan_news.wuan_news_server.model.entity.NewsTopic">
            <id property="newsId" column="news_id" jdbcType="BIGINT"/>
            <id property="topicId" column="topic_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        news_id,topic_id
    </sql>
</mapper>
